@use "sass:map";
@use "../../../node_modules/@picocss/pico/scss/settings" as *;

@if map.get($modules, "components/card") {
  /**
   * Aside (<aside>)
   */

  #{$parent-selector} aside {
    margin-bottom: var(#{$css-var-prefix}block-spacing-vertical);
    padding: var(#{$css-var-prefix}block-spacing-vertical)
      var(#{$css-var-prefix}block-spacing-horizontal);
    border-radius: var(#{$css-var-prefix}border-radius);
    background: var(#{$css-var-prefix}card-background-color);
    box-shadow: var(#{$css-var-prefix}card-box-shadow);
  }
}


aside {
    hgroup {
        h3, small {
            color: $darkish;
            margin: 0;
            padding: 0;
            line-height: 1rem;
        }
        small {
            font-size: 0.8rem !important;
        }
    }
    ul {
        padding-left: 0.2rem;
    }

    li {
        padding: 0;
    }

    a {
        font-size: 1rem;
        text-decoration: none;
    }

    .chapters {
        background-color: $secondary-color;
        margin-left: -1rem;
        margin-top: -1rem;
        margin-right: -1rem;
        border-radius: var(--pico-border-radius);
        padding: 1rem;
        position: relative;
        a, a:visited, a:active {
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }
        a.active {
            svg {
                margin-left: -1.5rem;
                fill: $darkish;
            }
        }
    }

    .chapter-back {
        display: inline-flex;
        margin-bottom: 1rem;
        background-color: $primary-color;
        box-shadow: var(#{$css-var-prefix}card-box-shadow);
        padding: .25rem 1rem;
        color: white;
        border-radius: 5px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.9rem;
        .icon-arrow {
            margin-right: 0.5rem;
            transform: translateY(-0.1em);
        }

        @media screen and (min-width: $lg-breakpoint) {
            margin-top: -1.4rem;
            margin-right: .5rem;
        }
    }
}
