pre {
    margin: 0;
    code {
        border-radius: .75rem;
        // border: 1px solid rgba($secondary-color, .6);
        box-shadow: .2rem .2rem .2rem .2rem rgba($accent-color, .6);
    }
}

.code-block {
    position: relative;
    cursor: pointer;
    .lang {
        position: absolute;
        top: $base-line-height * 2 + rem;
        right: $base-line-height + rem;
        opacity: .5;
    }
    .copy {
        position: absolute;
        bottom: 3rem;
        right: -1rem;
        background-color: rgba($accent-color, .8);
        padding: .2rem 1rem;
        border-radius: .75rem;
        pointer-events: none;
        @media screen and (min-width: $desktop-breakpoint) {
            &:hover {
                .copy {
                    opacity: 1;
                }
            }
            top: 50%;
            left: 50%;
            right: inherit;
            bottom: inherit;
            transform: translate(-50%, -50%);
            padding: 2rem;
            background-color: $accent-color;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }
    }
    @media screen and (min-width: $desktop-breakpoint) {
        &:hover {
            .copy {
                opacity: 1;
            }
        }
    }
}
