pre {
    background-color: transparent;
    code {
        border-radius: .1rem;
    }
}

.code-block {
    position: relative;
    cursor: pointer;
    .lang {
        position: absolute;
        top: 0;
        right: 0;
        font-size: .8rem;
        margin: .1rem .3rem 0 0;
        opacity: .5;
        color: $slate-100;
    }
    .copy {
        background-color: $dark;
        border-radius: .3rem;
        font-size: .8rem;
        color: $not-so-dark;
        padding: .2rem .5rem;
        opacity: 0;
        @media screen and (min-width: $desktop-breakpoint) {
            position: absolute;
            top:0;
            right: 0;
            margin-top: -1.3rem;
            transition: opacity .2s ease-in-out;

            &:hover {
                .copy {
                    opacity: 0;
                }
            }
        }
    }

    @media screen and (min-width: $desktop-breakpoint) {
        &:hover {
            .copy {
                opacity: 1;
            }
        }
    }
}
