.home-panels {
    li {
        margin: 0 0 2rem 0;
        list-style: none;
    }

    a,
    a:visited {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        background-color: $highlight-color;
        background-image: linear-gradient(to bottom, lighten($highlight-color, 20%), lighten($highlight-color, 10%));
        color: $primary-color;
        text-decoration: none;
        display: block;
        padding: 2rem;
        transition: transform 0.2s ease-in-out;

        span {
            display: block;
        }

        span.title {
            font-size: 2rem;
            line-height: 2.4rem;
            margin-bottom: 1rem;
        }

        span.excerpt {
            font-size: 1.5rem;
            opacity: 0.75;
        }

        &:hover {
            background-image: linear-gradient(to top, lighten($highlight-color, 20%), lighten($highlight-color, 10%));
            transform: translateY(-0.5rem);
        }

    }


    @media screen and (min-width: $tablet-breakpoint) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;

        li {
            margin: 0;
        }
    }

    @media screen and (min-width: $desktop-breakpoint) {
        grid-template-columns: repeat(3, 1fr);
    }

    &.themed {

        a,
        a:visited {
            background-color: darken($primary-color, 2%);
            background-image: linear-gradient(to bottom, darken($primary-color, 2%), darken($primary-color, 10%));
            color: lighten($highlight-color, 10%);
            box-shadow: none;

            &:hover {
                background-image: linear-gradient(to top, darken($primary-color, 2%), darken($primary-color, 10%));
            }
        }
    }
}
