nav {

    ul:last-of-type {
        margin-right: 0;
    }

    ul:first-of-type {
        margin-left: 0;
    }

    .brand {
        background-color: $secondary-color;
    }

    menu[role=menu] {
        ul {
            display: flex;
            gap: 1rem;
        }
        li {
            background-color: $primary-color;
            padding: .5rem 1.5rem;
            border-radius: 5px;
        }
        a{
            color: white;
            text-decoration: none;
        }
    }

    figure {
        margin: 0;
        display: flex;
        align-items: center;

        .name {
            text-transform: uppercase;
            margin: 0 1rem;
        }
    }

}

