$nav-background-color: $accent-color;
$nav-color: $text-color;
$nav-color-hover: $text-color;

nav {
    background: $nav-background-color;
    color: $nav-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    menu[role=menu] {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 100vw;
        background-color: $nav-background-color;
        font-size: 2.7rem;
        text-align: center;
        ul {
            margin: 0;
            padding: 0;
            opacity: 0;
            transform: translateX(-2rem);
            transition: opacity .5s ease-in-out, transform .2s ease-in-out;
            li {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
        a, a:visited {
            color: white;
            text-decoration: none;
            padding: 1rem 0;
            display: inline-block;
            &::after {
                content: '';
                display: block;
                height: 1px;
                background-color: rgba($background-color,.2);
            }
        }
    }

    figure {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        .name {
            font-size: 2rem;
            text-transform: uppercase;
            margin: 0 1rem;
            color: rgba($background-color, .85);
        }
    }

    .menu-switch {
        padding: 0 2rem;
        cursor: pointer;
        @media screen and (min-width: $tablet-breakpoint) {
            display: none;            
        }
    }
}

nav[data-state=mobile-active] {
    menu[role=menu] {
        margin: 0 0 0 0;
        padding: 0 0 3rem 0;
        top: 80px;
        width: 100vw;
        ul {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    nav {
        menu[role=menu] {
            position: relative;
            margin-left: inherit;
            opacity: 1;
            top: inherit;
            left: inherit;
            ul {
                opacity: 1;
                font-size: $base-font-size + .2;
                display: flex;
            }
            li {
                margin: 0 1rem;
            }
            a, a:visited {
                padding: 0;
                margin: 0 1rem;
                &::after {
                    opacity: 0;
                    transform: translateY(2rem);
                    transition: transform .2s ease-in-out, opacity .2s ease-in-out, height .2s ease-in-out;
                }
            }
            a:hover, a:visited:hover {
                &::after {
                    opacity: 1;
                    height: 2px;
                    background-color: $background-color;
                    transform: translateY(.5rem);
                }
            }
        }
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    nav {
        justify-content: flex-start;
    }
}

// nav {
//     background: $nav-background-color;
//     color: $nav-color;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     a,
//     a:visited {
//         color: $nav-color;
//         text-decoration: none;
//         transition: color 0.2s ease-in-out;
//         position: relative;
//     }

//     a:hover {
//         color: $primary-color;
//         span {
//             opacity: 0.75;
//             margin-bottom: -10px;
//             transform: rotate(0deg);
//         }
//     }

//     a span {
//         position: absolute;
//         background-color: $primary-color;
//         bottom: 0;
//         left: 0;
//         height: 4px;
//         margin-bottom: -20px;
//         width: 100%;
//         border-radius: 2px;
//         opacity: 0;
//         transform: rotate(-4deg);
//         transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out, margin-bottom 0.2s ease-in-out, transform 0.2s ease-in-out;
//     }

//     ul {
//         margin: 0;
//         padding: 0;
//         display: grid;
//         grid-auto-flow: column;
//     }

//     li {
//         list-style: none;
//     }

//     figure {
//         display: flex;
//         align-items: center;

//         .name {
//             margin: 0 1rem;
//             color: $primary-color;
//             font-size: 3rem;
//         }
//     }

//     .links {
//         position: absolute;
//         top: 0;
//         left: 0;
//         margin-left: 100vw;

//         @media screen and (min-width: $tablet-breakpoint) {
//             position: inherit;
//             top: inherit;
//             left: inherit;
//             margin-left: inherit;
//             margin-right: 3rem;
//         }
//     }

//     .menu {
//         margin-right: 3rem;

//         @media screen and (min-width: $tablet-breakpoint) {
//             display: none;
//         }
//     }
// }
