#grid-panels {

    h2:first-child {
        margin-top: 2rem;
    }

    .grid-panels {
        display: grid;
        gap: 1rem;

        article {
            margin: 0;
        }
        .title,
        .excerpt {
            display: inline;
        }

        .title {
            font-size: 1rem;
            line-height: 2rem;
            margin-right: .1rem;
        }

        .excerpt {
            display: block;
            font-size: .8rem;
        }

        a {
            text-decoration: none;
            transition: transform 0.2s ease-in-out;
            color: white;
            .arrow {
                display: inline-block;
                transition: transform 0.2s ease-in-out;
            }
        }

        a:hover {
            .arrow {
                transform: translateX(1rem);
            }
        }

        
        @media screen and (min-width: $lg-breakpoint) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &.articles {
        h2 {
            color: $primary-color;
        }
        article {
            background-color: $primary-color;
        }
    }
    &.packages {
        h2 {
            color: $secondary-color;
        }
        article {
            background-color: $secondary-color;
        }
    }

}

.template-articles,
.template-packages {
    #grid-panels {
        margin-top: 0;
        .title {
            font-size: 1.2rem;
        }
        .arrow {
            margin-top: .5rem;
        }
    }
}
