aside section {
    margin-bottom: 2rem;
}

.pagination {
    padding-top: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.template-articles {
    header {
        margin: 0;
        padding: 0;
    }
    h1 {
        color: $primary-color;
    }
}

.template-packages {
    header {
        margin: 0;
        padding: 0;
    }
    h1 {
        color: $secondary-color;
    }
}

article h2:first-child:not(#grid-panels h2) {
    background-color: $tertiary-color;
    margin: -1rem -1rem 1rem -1rem;
    padding: 1rem;
    border-radius: var(--pico-border-radius) var(--pico-border-radius) 0 0;
}

@media screen and (min-width: $lg-breakpoint) {
    // there's some javascript that adds the class 'fixed' to the aside element

    .grid-layout {
        display: flex;
        gap: 4rem;
    }

    article {
        // required to prevent the pre tag from overflowing the article
        min-width: 0;
        // 
        flex: 4;

        h2:first-child:not(#grid-panels h2) {
            font-size: 2rem;
        }
    }

    aside {
        transition: all 0s;
        flex: 2;
        align-self: flex-start;
    }

    aside.sticky {
        height: 0; // prevent the body height growing when the aside is fixed
        overflow: visible;
    }
}

@media screen and (min-width: $xl-breakpoint) {

    article {
        flex: 4.5;
    }
    
}
