.container {
    max-width: $desktop-breakpoint;
    padding: 2rem;
    margin: 0 auto;
}

.container-grid {
    padding: 2rem;
    max-width: $desktop-breakpoint;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet-breakpoint) {
        display: grid;
        grid-template-columns: 8fr 4fr;
        gap: 4rem;
        padding: 2rem;
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    // there's some javascript that adds the class 'fixed' to the aside element

    aside {
        transition: all 0s;
    }

    aside.sticky {
        height: 0; // prevent the body height growing when the aside is fixed
        overflow: visible;
    }
}

aside section {
    margin-bottom: 2rem;
}

.pagination {
    padding-top: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    .icon {
        // g {
        //     fill: $highlight-color;
        // }
    }
}
