main {
    padding: 2rem;
    max-width: $desktop-breakpoint;
    margin: 0 auto;
    @media screen and (min-width: $tablet-breakpoint) {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 6rem;
    }
}


aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h3 {
        font-weight: 400;
    }
}


.container {
    max-width: $desktop-breakpoint;
    margin: 0 auto;
}
