// colors
$primary-color: $indigo-650;
$secondary-color: $pumpkin-300;
$highlight-color: $lime-300;
$dark: $slate-900;
$darkish: $slate-700;
$not-so-dark: $slate-500;

// fonts
$base-font-family: "Inria Sans", sans-serif;
$special-font-family: "Roboto Condensed", sans-serif;

// displays
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1080px;

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1536px;
