{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="container">
        {% for block in page.body %}
        {% include_block block %}
        {% endfor %}
        <div id="articles">
            <h2>Articles</h2>
            <ul class="home-panels">
                {% for article in all_articles %}
                <li>
                    <a href="{{ article.url }}">
                        <span class="title">{{ article.title }}</span>
                        <span class="excerpt">{{ article.excerpt }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="packages">
            <h2>Packages</h2>
            <ul class="home-panels themed">
                {% for package in all_packages %}
                <li>
                    <a href="{{ package.url }}">
                        <span class="title">{{ package.title }}</span>
                        <span class="excerpt">{{ package.excerpt }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
