{% load static wagtailcore_tags wagtailuserbar navigation_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/bundle.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <nav> 
            <figure class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                    <title>Nick Moreton</title>
                    <g transform="translate(0 0)">
                        <g class="nc-icon-wrapper" fill="#212121">
                            <path d="M16,20.882l5.882-2.941-5.435-2.718a1,1,0,0,0-.894,0l-5.435,2.718Z" data-color="color-2">
                            </path>
                            <path d="M17,22.618V30l5.447-2.724A1,1,0,0,0,23,26.382V19.618Z" data-color="color-2"></path>
                            <path d="M15,22.618l-6-3v6.764a1,1,0,0,0,.553.894L15,30Z" data-color="color-2"></path>
                            <path d="M8,7.145,13.882,4.2,8.447,1.486a1,1,0,0,0-.894,0L2.118,4.2Z" fill="#212121"></path>
                            <path d="M9,8.881v7.382l5.447-2.724A1,1,0,0,0,15,12.645V5.881Z" fill="#212121"></path>
                            <path d="M7,8.881l-6-3v6.764a1,1,0,0,0,.553.894L7,16.263Z" fill="#212121"></path>
                            <path d="M24,7.145,29.882,4.2,24.447,1.486a1,1,0,0,0-.894,0L18.118,4.2Z" fill="#212121"></path>
                            <path d="M25,8.881v7.382l5.447-2.724A1,1,0,0,0,31,12.645V5.881Z" fill="#212121"></path>
                            <path d="M23,8.881l-6-3v6.764a1,1,0,0,0,.553.894L23,16.263Z" fill="#212121"></path>
                        </g>
                    </g>
                </svg>
                <div class="name">Nick Moreton</div>
            </figure>
            <div class="menu-switch">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <g class="nc-icon-wrapper" stroke-width="2" fill="#212121" stroke="#212121">
                        <line data-color="color-2" fill="none" stroke-linecap="square" stroke-miterlimit="10" x1="2" y1="16"
                            x2="30" y2="16" stroke-linejoin="miter"></line>
                        <line fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10" x1="16" y1="7" x2="30"
                            y2="7" stroke-linejoin="miter"></line>
                        <line fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10" x1="2" y1="25" x2="16"
                            y2="25" stroke-linejoin="miter"></line>
                    </g>
                </svg>
            </div>
            <menu role="menu" id="menu">
                {% get_navigation %}
            </menu>
        </nav>

        {% block header %}
        <header>
            <h1>Web Developer: <span data-animated>using</span> Wagtail CMS</h1>
        </header>
        {% endblock header %}

        <main>
        {% block content %}{% endblock %}
        </main>

        {# Global javascript #}
        <script src="{% static 'webapp/bundle.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
