.callout {
    padding: 2rem;
    background-color: $highlight-color;
    border: 10px solid darken($highlight-color, 10%);
    border-radius: .5rem;
    margin: 2rem 0;
    transform: rotate(-.5deg) translateX(-5%);
    * {
        color: darken($highlight-color, 30%);
    }

    @media  screen and (min-width: $tablet-breakpoint) {
        max-width: 70%;
    }

    a {
        text-decoration: underline;
    }
}

article .callout {
    max-width: 100%;
}
