.image-aligned {
    position: relative;
    figure {
        margin: 1rem 0;
        padding: 0;
        width: 100%;
        transition: all .2s ease-in-out;

        img {
            width: 100%;
            height: auto;
            max-width: 600px;
            border-radius: 3px;
        }
    }
    
    @media screen and (min-width: $desktop-breakpoint) {
        .content {
            font-size: 90%;
        }
        &.left,
        &.right {
            display: flex;
            flex-wrap: nowrap;
            gap: 4rem;
            margin: 0;
            figure {
                width: 100%;
            }
            .content {
                width: 100%;
            }
        }
        
        &.left {
            flex-direction: row;
        }
        
        &.right {
            flex-direction: row-reverse;
        }
    }

    &.center {
        border: none;
        border-radius: 3px;
        margin-bottom: 2rem;
        .border {
            display: none;
        }
    }
}
