{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block header %}
<header class="short">
    <div class="container">
        <h1>{{ page.title }}</h1>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    {% for block in page.body %}
    {% include_block block %}
    {% endfor %}
    <ul class="list article-list">
        {% for article in articles %}
            <li>    
                <a href="{{ article.url }}">
                    <span class="title">{{ article.title }}</span>
                    <span class="white no-decoration smaller">{{ article.excerpt }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
