{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-articles{% endblock %}

{% block header %}
<header class="short">
    <div class="container">
        <h1>{{ page.title }}</h1>
    </div>
</header>
{% endblock header %}

{% block content %}

    <div class="grid-layout">
    <article>
        {% for block in page.body %}
        {% include_block block %}
        {% endfor %}
        {% if first_chapter %}
        <a href="{{ first_chapter.url }}" class="button next">
            First chapter
            <span class="icon-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 12 12">
                    <title>move right</title>
                    <g fill="#fff" class="nc-icon-wrapper">
                        <path d="M1,12a1,1,0,0,0,1-1V1A1,1,0,0,0,0,1V11A1,1,0,0,0,1,12Z" fill="#fff"></path>
                        <path data-color="color-2"
                            d="M7.829,2.124A.5.5,0,0,0,7,2.5V5H4.5a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5H7V9.5a.5.5,0,0,0,.829.376l4-3.5a.5.5,0,0,0,0-.752Z">
                        </path>
                    </g>
                </svg>
            </span>
        </a>
        {% endif %}
    </article>
    <aside>
        {% include "pages/includes/chapter_aside.html" with article=page %}
        <section>
            <h3>Other Articles</h3>
            <ul>
                {% for article in latest_articles %}
                    <li>
                        <a href="{{ article.url }}">{{ article.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </aside>
    </div>


{% endblock content %}
