{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block header %}
<header class="short">
    <div class="container">
        <h1>{{ page.title }}</h1>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    {% for block in page.body %}
    {% include_block block %}
    {% endfor %}
    <ul>
        {% for package in packages %}
            <li>
                <a href="{{ package.url }}">{{ package.title }}</a>: {{ package.excerpt }}
            </li>
        {% endfor %}
    </ul>    
</div>
{% endblock %}
