{% extends "base.html" %}
{% load wagtailcore_tags pypi_tags %}

{% block header %}
<header class="short">
    <div class="container">
        <h1>{{ page.title }}</h1>
    </div>
</header>
{% endblock header %}

{% block content %}
<!-- <div class="container-grid"> -->
    <div class="grid-layout">
    <article>
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
    </article>
    <aside>
        <!-- Package data -->
        {% pypi_info page.pypi_package_name %}
    </aside>
    </div>
<!-- </div> -->
{% endblock content %}
